node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
dist

# expecting extractor.js to be a link to the output from cw-server-ts, one day it will be an npm module
extractor.js*
